<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us" prefix="og: http://ogp.me/ns#">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <!-- Enable responsiveness on mobile devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{ if .IsHome }}
        <title>{{ .Site.Title }}</title>
        {{ else }}
        <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
        {{ end }}

        <!-- CSS -->
        <link rel="stylesheet" href="{{ "css/christiaanconover.css" | absURL }}?{{ now.Unix }}">
        <link rel="stylesheet" href="{{ "css/foundation-icons/foundation-icons.css" | absURL }}?{{ now.Unix }}">

        <!-- Icons -->
        <link rel="icon" type="image/png" href="{{ "img/logo/CCLogo.png" | absURL}}">
        <link rel="apple-touch-icon" href="{{ "img/logo/CCLogo.png" | absURL }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ "img/logo/CCLogo-76x76.png" | absURL }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ "img/logo/CCLogo-120x120.png" | absURL }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ "img/logo/CCLogo-152x152.png" | absURL }}">

        <!-- RSS -->
        {{ if .RSSLink }}
        <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        {{ end }}

        <!-- Google Analytics -->
        {{ if ne (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
        {{ template "_internal/google_analytics_async.html" . }}
        {{ end }}

        <!-- OpenGraph, Twitter Cards, and other meta tags -->
        {{ if .IsHome }}
        <meta property="og:title" content="{{ .Site.Title }}">
        <meta property="og:description" content="{{ .Site.Params.Description }}">
        <meta name="description" content="{{ .Site.Params.Description }}">
        <meta property="og:type" content="website">
        <meta name="twitter:card" content="summary">
        {{ else }}
        <meta property="og:title" content="{{ .Title }}">
        {{ if isset .Params "description" }}
        <meta property="og:description" content="{{ .Description }}">
        <meta name="description" content="{{ .Description }}">
        {{ else }}
        <meta property="og:description" content="{{ .Summary }}">
        <meta name="description" content="{{ .Summary }}">
        {{ end }}
        {{ if eq .Type "blog" }}
        <meta property="og:type" content="article">
        {{ if isset .Params "twitter" }}
        <meta property="twitter:creator" content="@{{ .Params.twitter }}">
        {{ end }}
        {{ else }}
        <meta property="og:type" content="website">
        {{ end }}
        <meta property="og:site_name" content="{{ .Site.Title }}">
        {{ end }}
        <meta property="og:locale" content="en_US">
        <meta property="og:url" content="{{ .Permalink }}">
        <link rel="canonical" href="{{ .Permalink }}">
        {{ if isset .Params "image" }}
        <meta property="og:image" content="{{ .Params.image.src | absURL }}">
        <meta property="og:image:alt" content="{{ .Params.image.alt }}">
        <meta property="twitter:card" content="summary_large_image">
        {{ else }}
        <meta property="twitter:card" content="summary">
        {{ end }}
        {{ if isset .Site.Params.Social "twitter" }}
        <meta property="twitter:site" content="@{{ .Site.Params.Social.Twitter }}">
        {{ end }}

        {{ .Hugo.Generator }}
    </head>
