<header class="site-header top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li>
                <div class="branding">
                    <a href="{{ .Site.BaseURL | absURL }}">
                        {{ with .Site.Params.logo }}
                        <img class="site-logo" src="{{ . | absURL }}" alt="Christiaan Conover logo">
                        {{ end }}
                        {{ if .IsHome }}
                        <h1 class="site-title">{{ .Site.Title }}</h1>
                        {{ else }}
                        <span class="site-title">{{ .Site.Title }}</span>
                        {{ end }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <nav class="top-bar-right">
        <ul class="menu icon-left">
            <li><a href="{{ "blog/" | absURL }}"><i class="fi-list"></i> <span>Blog</span></a></li>
            <li><a href="{{ "about/" | absURL }}"><i class="fi-torso"></i> <span>About</span></a></li>
        </ul>
    </nav>
</header>
