{{ partial "header/head.html" . }}
<body>
    {{ partial "header/site-header.html" . }}
    <main class="content list {{ .Section }} {{ .Kind }} grid-container full">
        <div class="grid-x">
            <div class="small-10 large-6 small-offset-1 large-offset-3 cell">
                {{ partial "list.html" . }}
            </div>
        </div>
    </main>
{{ partial "footer/site-footer.html" . }}
