<div class="posts">
    {{ range (.Paginator).Pages }}
    <div class="post">
        <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
        <div class="byline"><time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "January 2, 2006" }}</time> &middot; {{ div .WordCount 175 }} minute read</div>
        {{ if isset .Params "image" }}
        <a href="{{ .Permalink }}"><img src="{{ .Params.image.src | absURL }}" alt="{{ .Params.image.alt }}" class="primary-image post-image"></a>
        {{ end }}
        <p>{{ .Summary }}</p>
    </div>
    {{ end }}
</div>
<div class="pagination">
{{ if .Paginator.HasPrev }}
    <a class="button page-prev" href="{{ .Paginator.Prev.URL }}" rel="prev"><i class="fi-arrow-left"></i> <span>Previous Page</span></a>
{{ end }}
{{ if .Paginator.HasNext }}
    <a class="button page-next" href="{{ .Paginator.Next.URL }}" rel="next"><span>Next Page</span> <i class="fi-arrow-right"></i></a>
{{ end }}
</div>
