<div class="social">
    <a href="https://github.com/cconover" rel="me"><i class="fi-social-github"></i></a>
    <a href="https://www.instagram.com/christiaanconover/" rel="me"><i class="fi-social-instagram"></i></a>
    <a href="https://www.youtube.com/christiaanconover" rel="me"><i class="fi-social-youtube"></i></a>
    <a rel="me" href="https://mas.to/@christiaanconover">M</a>
    <a href="https://news.ycombinator.com/user?id=cconover" rel="me"><i class="fi-social-hacker-news"></i></a>
</div>
