{{ partial "header/head.html" . }}
<body>
    {{ partial "header/site-header.html" . }}
    <main class="content 404 grid-container">
        <div class="grid-x">
            <div class="large-6 large-offset-3 cell">
                <h1>Rats! That page isn't here.</h1>
                <p>The page you requested doesn't actually exist. Sorry about that.</p>
                <a class="button" href="{{ .Site.BaseURL | absURL }}">Home</a>
                <a class="button" href="{{ "blog/" | absURL }}">Blog Posts</a>
                {{ partial "social.html" . }}
            </div>
        </div>
    </main>
{{ partial "footer/site-footer.html" . }}
