{{ partial "header/head.html" . }}
<body>
    {{ partial "header/site-header.html" . }}
    <main class="content {{ .Kind }} grid-container">
        <div class="grid-x">
            <div class="small-12 large-5 cell">
                <h2>{{ .Title }}</h2>
                {{ .Content }}

                {{ partial "social.html" . }}
            </div>
            <div class="posts small-12 large-5 large-offset-1 cell list">
                {{ range first 5 .Data.Pages }}
                {{ if isset .Params "image" }}
                <a href="{{ .Permalink }}"><img src="{{ .Params.image.src | absURL }}" alt="{{ .Params.image.alt }}" class="primary-image post-image"></a>
                {{ end }}
                <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
                {{ if isset .Params "description" }}
                <p>{{ .Params.description }}</p>
                {{ else }}
                <p>{{ .Summary }}</p>
                {{ end }}
                {{ end }}
                <a class="button" href="{{ "blog/" | absURL }}">View more posts</a>
            </div>
        </div>
    </main>
{{ partial "footer/site-footer.html" . }}
